.App {
  text-align: center;
  display: flex;
  flex-flow: column;
}

.App-header-centre {
  background-color: #286cff;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(25px + 2vmin);
  color: white;
  border-bottom-style: solid;
  border-bottom-color: beige;
  border-top-style: solid;
  border-top-color: beige;
}

.App-header-clock {
  background-color: #6091fc;
  min-height: 10vh;
  align-items: center;
  justify-content: space-around;
  font-size: calc(35px + 2vmin);
  color: rgb(255, 255, 255);
  padding-right: 40px;
}

.bottom {
  display:1;
  font-size: calc(15px + 2vmin);
  align-items: center;
  justify-content: space-around;
  background-color: #286cff;
}

.titleText {
  font-size: xx-large;
  vertical-align: middle;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.trainTime {
  background-color: #152341;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 1vmin);
  color: white;
  border-bottom-style: solid;
  border-bottom-color: beige;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
