.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.titleText {
  font-size: xx-large;
  vertical-align: middle;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.trainTime {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 10px;
  border: 1px solid brown;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
